{% extends "base.html" %}
{% block content %}

<main>
    <section>
        <h2>About Me</h2>
        <p>
            I'm an experienced Software Developer from Michigan that has been working in development roles since
            2019.
            These roles have included back end, fullstack, and database developer positions. I have a preference for
            back end work where I
            can focus on the logic of a solution without having ot worry about making it look pretty.
            Some of my technical strengths include creating solutions for performance issues and contributing to
            application architecture discussions.
            Beyond my technical strengths I also enjoy analysing processes for interviewing developers and the
            development cycle.
        </p>
    </section>

    <section>
        <h2>Education</h2>
        <p>
            MBA - Indiana University Bloomington (2023)
            <br/>
            BSc Computer Engineering - Michigan Technological University (2019)
        </p>
    </section>

    <section>
       <h2>
            <a href="https://docs.google.com/document/d/1hgcjaTotYtKBMaGLW2wcC_FZlkpgwaPgRJWW-NeYr8E/edit?usp=sharing" target="_blank" style="color: inherit; text-decoration: none; display: inline-flex; align-items: center;">
                Resume
                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" style="margin-left: 4px;" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <rect x="3" y="7" width="14" height="14" rx="2" stroke-width="2"/>
                    <path d="M14 3h7v7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M10 14L21 3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </a>
        </h2>
    </section>

    <section>
        <h2>Socials</h2>
        <p>
        <a href="https://www.linkedin.com/in/michael-wheeler-ii/" target="_blank">LinkedIn</a> |
        <a href="https://github.com/mwheelerPDL" target="_blank">Work Github</a> |
        <a href="https://github.com/MichaelWheeler202" target="_blank">Personal Github</a> |
        <a href="https://leetcode.com/u/MichaelWheeler202" target="_blank">Leetcode</a>
    </p>
    </section>

</main>

{% endblock content %}