{% extends "base.html" %}
{% block content %}
<main role="main" class="container">
      <div class="row">
            <div class="col-md-8">

                <h4>Resume</h4>
                <a href="https://docs.google.com/document/d/1hgcjaTotYtKBMaGLW2wcC_FZlkpgwaPgRJWW-NeYr8E/edit?usp=sharing"> Resume </a>
                <br/>
                <br/>

                <h4>Contact Info</h4>
                <a> Email: Mikewheeler202@gmail.com </a>
                <br/>
                <a> Cell Phone: (269) 271-1809 </a>
                <br/>
                <a href="https://www.linkedin.com/in/michael-wheeler-ii/"> LinkedIn </a>
                <br/>
                <a href="https://github.com/MichaelWheeler202"> Github: MichaelWheeler202 </a>
                <br/>
                <a href="https://leetcode.com/u/MichaelWheeler202"> Leetcode: MikeWheeler202 </a>

            </div>
       </div>
</main>

{% endblock content %}
