{% extends "base.html" %}
{% block content %}
<main role="main" class="container">
      <div class="row">
        <div class="col-md-10">

            <h4>About Me</h4>
            <a>
                I'm an experienced Software Developer from Michigan that has been working in development roles since 2019. These roles have included back end, fullstack, and database developer positions.
                My technical strengths include creating solutions for performance issues and contributing to application architecture discussions.
                Beyond my technical strengths I also enjoy analysing processes for interviewing developers and the development cycle.
            </a>

            <br/> <br/> <br/>

            <h4>Education</h4>
            <a>
                BSc Computer Engineering - Michigan Technological University (2019)
                MBA - Indiana University Bloomington (2023)
            </a>
            <br/> <br/> <br/>

            <h4>My Projects</h4>

             <br/>

            <div class="container" style="display: flex;">
                <div class="col-6">
                    <h5> <a href="/mnist-digit-reader" style="text-decoration: underline; color: #444444"> Digit Reader </a></h5>
                    <a>Here you can draw digits and have a Neural Network built with tensorflow try to guess which digit you drew!</a>
                </div>
                <div class="col-3">

                    <img src="{{ url_for('static', filename='DigitReader.PNG') }}">
                </div>
            </div>

        </div>
     </div>
</main>
{% endblock content %}
