{% extends "base.html" %}
{% block content %}
<main style="padding-top: 100px;">

    <div class="project-card">
        <div class="project-content">
            <h2 class="project-title">My Website</h2>
            <p class="project-description">This website is built with a flask backend. The front end uses standard javascript, html, and
                        css. The hosting is done on an AWS EC2 instance. I've also included CICD in this project in the form
                        of a github action to automate deployments any time I push changes.</p>
        </div>
        <div class="project-image">
        </div>
    </div>

    <div class="project-card">
        <div class="project-content">
            <h2 class="project-title"> <a class="project-link" href="/mnist-digit-reader"> Digit Reader </a></h2>
            <p class="project-description">Here you can draw digits and have a Neural Network built with tensorflow try to guess which digit
                        you drew!</p>
        </div>
        <div class="project-image">
            <img src="{{ url_for('static', filename='DigitReader.PNG') }}" ALT="" >
        </div>
    </div>
</main>

{% endblock content %}
