{% extends "base.html" %}
{% block content %}
 <!-- Imports -->
<script src="{{ url_for('static', filename='jquery-3.4.1.js') }}"></script>
<script src="{{ url_for('static', filename='MNIST_Digit_Reader.js') }}"></script>
<main role="main" class="container">
      <div class="row">
        <div class="col-md-8">

                <h3>Demo</h3>
                <h5>Instructions</h5>
                <a>
                    Try drawing a number between 0 and 9.  To draw on the grid, just click on a square and drag your mouse around.
                    If you'd like to erase the board, just click the "Clear Drawing" button. When your drawing is complete, click
                    the "Read Number" button and a neural network written with tensorflow will try to read your number.
                </a>

                <br/><br/>

                <!-- buttons and number display -->
                <div  class="button-container"  id="grid-control-and-output" >

                    <!-- Display forms inline -->
                    <style>
                          form { display:inline-block; }
                          /* IE6-7 */
                          @media,
                              {
                              div { display: inline; margin-right:10px; }
                              }
                   </style>

                    <form id="ClearDrawing">
                        <div>
                            <input type="submit" value="Clear Drawing">
                        </div>
                    </form>

                     <form>
                        <div>
                            <span> </span>
                        </div>
                    </form>

                    <form id="JudgeDrawing">
                        <div>
                            <input type="submit" value="Read Number">
                        </div>
                    </form>
                </div>

                <br/>

                <h5 id = "your_number">  Your number is: </h5>

                <!-- grid -->
                <div>
                    <table id="pixel_canvas">
                        <style>
                            table,
                                tr,
                                td {
                                    border: black 0.2px solid ;
                                }



                                tr {
                                    height: 10px;
                                }

                                td {
                                    width: 10px;
                                }
                        </style>
                    </table>
                </div>


	    <br/>
	  
            <h3>How it works</h3>
            <a>
                On the client side, there is an html grid.  Javascript event listeners listen for the user clicking and
                moving their mouse on the grid to let the user draw.  When the user clicks the "Guess Number" button
                a javascript function parses the grid to make a JSON object containing which squares are filled and
                which ones are not.  This object is then sent to a function on the Django server through an ajax
                request.  This function uses a tensorflow convolutional neural network model that was built and trained
                off the MNIST digit set.  The model then tries to guess which number the user drew, and the result is
		        returned to the client.
            </a>


        </div>
     </div>
</main>

{% endblock content %}
